body {
    background-color: powderblue;
    color: darkblue;
    text-align: left;
    text-align-last: center;

    font-family: Arial;
}

.title{
  font-size: 12px
}

h1{
  padding-left: 200px;
  text-align-last: left;
  color: blue;
}

h2{
  text-align: center;
}

br{
  line-height: 200%;
}
.overall-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: dodgerBlue;
  max-width: 650px;
  max-height: 650px;
  margin-left: 50px;

}

.flex-container > div {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  width: 200px;
  height: 200px;
  margin: 8px;
}

.instruct-container{
  width: 280px;
  height: 610px;
  background-color: #f1f1f1;
  border: 10px solid dodgerBlue;
  padding: 10px;
  margin-left: 50px;
  border-radius: 25px;
}

button {
  background-color: white;
  width: 60px;
  height: 60px;
  margin: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
