body {
    background-color: powderblue;
}
h1 {
    color: blue;
    font: cambria;
    padding-left: 200px;
    text-align: left;
}

h2{
  color: blue;
  font: cambria;
  padding-left: 80px;
  text-align: left;
}

p {
    color: black;
    font-style: italic;
}

text {
  color: blue;
  text-align: left;
  padding-left: 80px;
}


.overall-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: dodgerBlue;
  max-width: 650px;
  max-height: 650px;
  margin-left: 50px;

}

.flex-container > div {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  width: 200px;
  height: 200px;
  margin: 8px;
}

.instruct-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 650px;
  height: 650px;
  margin-left: 50px;
}

button {
  background-color: white;
  width: 60px;
  height: 60px;
  margin: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
